{% extends "loki/base.html" %}
    {% block title %}
    Home
    {% endblock %}
    {% block content %}
        {% ifequal user.is_superuser 1 %}
        <div style="float:left;padding-right:50px;">
        <ul>All Masters
        <li><a href="{% url loki.views.action 'start','all' %}">Start</a></li>
        <li><a href="{% url loki.views.action 'stop','all' %}">Stop</a></li>
        <li><a href="{% url loki.views.action 'restart','all' %}">Restart</a></li>
        <li><a href="{% url loki.views.action 'hup','all' %}">Hup</a></li>
        </ul>
        </div>
        <div style="float:left;">
        <ul>All Slaves
        <li><a href="{% url loki.views.action 'start','all','all' %}">Start</a></li>
        <li><a href="{% url loki.views.action 'stop','all','all' %}">Stop</a></li>
        <li><a href="{% url loki.views.action 'restart','all','all' %}">Restart</a></li>
        <li><a href="{% url loki.views.action 'hup','all','all' %}">Hup</a></li>
        </ul>
        </div>
        <ul>Hosts
        {% for host in hosts %}
        <li>{{ host.hostname }}: {{ host.uptime }}</li>
        {% endfor %}
        </ul>
        {% endifequal %}
    {% endblock %}
