        {% for m in bots %}
            <h3 class="menu_head"><a href="{% url loki.views.home m %}">{{ m }}</a>
                <span id="{% if m.alive %}running{% else %}stopped{% endif %}">&bull;</span></h3>
            <ul class="menu_body"{% ifequal m master %} style="display: block;"{% endifequal %}>
                {% for builder in m.builders.all %}
                    <li><a href="{% url loki.views.home m,builder %}">{{ builder }}</a></li>
                {% endfor %}
            </ul><p>
        {% endfor %}
